@import "tailwindcss";

:root {
  --bg-color: 255 255 255;
  --text-color: 17 17 17;
}

.dark {
  --bg-color: 17 17 17;
  --text-color: 255 255 255;
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--bg-color);
  color:var(--text-color) ;
}

/* Headings Font */
h1,
h2,
h3,
h4{
  font-family: 'Poppins', sans-serif;
}


.active-link {
  padding: 2px 8px;
  background-color: rgb(231, 227, 227);
  font-weight: bold;
  border-radius: 10px;
}
